header {
    padding: 7rem 0 2rem;
    overflow: hidden;
}

.header__container {
    position: relative;
    display: grid;
    grid-template-columns: 50% 25%;
    gap: 15%;
    align-items: center;
}

.header__content {
    padding-left: 10%;
}

.header__content .greeting {
    color: var(--color-white);
}

.header__content h1 {
    color: var(--color-white);
}

.header__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-bg-variant), transparent);
    display: grid;
    place-items: center;
}

.header__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    width: 100%;
}

.header__me-image:hover {
    transform: rotate(0);
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .header__container {
        grid-template-columns: 70% 25%;
        gap: 1rem;
    }

    .header__content {
        padding-left: 0;
    }

    .header__me {
        width: 100%;
        margin: 2rem auto 4rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .header__container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .header__content {
        padding-left: 0;
        text-align: center;
    }

    .header__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .cta {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .header__content h1 {
        font-size: 2rem;
    }
}